*{
    box-sizing: border-box;
}
:root{
    --marrom: #ac6c50;
    --azul: #253640;
    --rosa: #efd5ca;
    --verde: #5b6356;
    --bege: #f5eee8;
    --areia: #e7e2cf;
    --font-normal: 'Kulim Park', sans-serif;
    --font-standart: 'Old Standard TT', serif;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: var(--font-normal);
}
.container-inteiro{
    width: 1343px;
}
.container-medio{
    width: 1080px;
}
.container-pequeno{
    width: 800px;
}
.menu{
    width: 100%;
    height: 30px;
    background: white;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    box-shadow: 4px 2px 19px 4px #0000000f;
}
.header{
    height: 625;
    position: absolute;
    top: 0;
    width: 100%;
}
.header .container-inteiro{
    position: absolute;
    bottom: 0;
    z-index: 1;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}
.website-titulo{
    position: absolute;
    top: 35px;
    left: 50%;
    font-size: 60px;
    font-family: var(--font-standart);
    transform: translate(-50%,0);
    z-index: 11;
    color: black;
}

.header-retangulo{
    width: 60%;
    height: 77%;
    background: var(--rosa);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(https://www.transparenttextures.com/patterns/concrete-wall.png);
}
.header .container-pequeno{
    position: absolute;
    top: 50%;
    height: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}
.header-imagem{
    position: absolute;
    top: 22%;
    left: 80px;
    width: 30%;
    height: 58%;
    background: url(../images/plant.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.text-box{
    position: absolute;
    top: 55%;
    right: 47%;
    width: 30%;
    height: 43%;
    background: var(--azul);
    font-size: 14px;
    font-family: var(--font-standart);
    padding: 32px;
    color: #eaeaea;
}
.text-box p:nth-child(1){
    font-weight: bold;
    color: white;
}
.text-box p{
    margin: 0;
}
.text-box-titulo{
    position: absolute;
    top: 50%;
    right: 39%;
    font-size: 43px;
    font-family: var(--font-standart);
    color: white;
    z-index: 1;
}
.header svg{
    position: absolute;
    bottom: -100px;
    transform: rotate(180deg);
}
.me {
    height: 660px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}
.imagem-me{
    background: url(../images/me.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 28%;
    height: 74%;
    position: absolute;
    margin: 330px 0 0 180px;
}
.imagem-me::after {
    z-index: -1;
    content: '';
    width: 170%;
    height: 100%;
    position: absolute;
    background: var(--azul);
    left: -180px;
    top: -230px;
    background-image: url(https://www.transparenttextures.com/patterns/concrete-wall.png);
}
.me-bio{
    position: absolute;
    top: 390px;
    left: 600px;
    color: black;
    font-family: var(--font-standart);
    width: 340px;
}
.me-bio-titulo{
    font-size: 60px;
    margin-bottom: 12px;
}
.me-bio-texto{
    font-size: 21px;
}
.cards{
    margin-top: 570px;
    margin-bottom: 100px;
    position: relative;
    height: 420px;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.card-retangulo{
    position: absolute;
    width: 82%;
    height: 260px;
    background: var(--areia);
    right: 0;
    bottom: -70px;
    background-image: url(https://www.transparenttextures.com/patterns/green-dust-and-scratches.png);
}
.card{
    width:  220px;
    height: 220px;
    position: relative;
    cursor: pointer;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    border: 1px solid #0000000a;
}
.card-um{
    background-image: url(../images/card-1.jfif);
}
.card-dois {
    background-image: url(../images/card-2.jfif);
    margin-left: 25px;
    margin-right: 25px;
}
.card-tres{
    margin-right: 25px;
    background-image: url(../images/card-3.jfif);
}
.card-quatro{
    background-image: url(../images/card-4.jfif);
}
.rodape{
    background: var(--azul);
    background-image: url(https://www.transparenttextures.com/patterns/concrete-wall.png);
    width: 100%;
    height: 300px;
}
.pages{
    height: 700px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 100px;
}
.page-retangulo-um{
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 85%;
    background: var(--verde);
    background-image: url(https://www.transparenttextures.com/patterns/concrete-wall.png);
}
.page-retangulo-dois{
    position: absolute;
    left: 0;
    top: 55%;
    width: 70%;
    height: 50%;
    background: var(--marrom);
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-light.png);
}
.page-retangulo-tres{
    position: absolute;
    left: 43%;
    top: 77%;
    width: 28%;
    height: 39%;
    background: var(--rosa);
    z-index: 1;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-light.png);
}
.page-imagem{
    background-image: url(../images/link-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 26%;
    height: 50%;
    left: 55%;
    top: 44%;
}
.link-box{
    position: absolute;
    left: 27%;
    top: 60%;
    width: 30%;
    height: 35%;
    background: var(--azul);
    z-index: 2;
    background-image: url(https://www.transparenttextures.com/patterns/concrete-wall.png);
}
.page-titulo{
    position: absolute;
    top: 49%;
    left: 7%;
    font-size: 67px;
    font-family: var(--font-standart);
    color: black;
    z-index: 1;
}
.divisao{
    height: 890px;
    background: var(--areia);
    background-image: url(https://www.transparenttextures.com/patterns/concrete-wall.png);
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 250px;
}
.galeria{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    height: 1000px;
    margin-top: 75px;
}
.galeria-imagem-1{
    background-image: url(../images/galeria-1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 66%;
    height: 34%;
}
.galeria-imagem-2{
    background-image: url(../images/galeria-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    width: 32%;
    height: 74%;
}
.galeria-imagem-3{
    background-image: url(../images/galeria-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 36%;
    left: 0;
    width: 32%;
    height: 38%;
}
.galeria-imagem-4{
    background-image: url(../images/galeria-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 36%;
    left: 34%;
    width: 32%;
    height: 38%;
}
